src/main/resources/wsdl/orderV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->

<wsdl:definitions name="order-v1.wsdl"
	targetNamespace="http://bpel.innoq.com/order/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bpel.innoq.com/order/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:v1_0="http://bpel.innoq.com/order/types/v1.0">


	<!-- Type definitions for input- and output parameters for webservice -->
	<wsdl:types>
		<xs:schema targetNamespace="http://bpel.innoq.com/order/types/v1.0">
			<!-- <xsd:import namespace="http://bpel.innoq.com/order/types/v1" schemaLocation="./orderV1types.xsd" /> -->
			<xs:element name="orderInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="partName" />
						<xs:element type="xs:int" name="amount" />
						<xs:element type="xs:string" name="customerName" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="orderConfirmation">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="resultCode" />
						<xs:element type="xs:int" name="orderiD" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>


	</wsdl:types>

	<!-- Message definitions for input and output -->
	<wsdl:message name="purchaseOrder">
		<wsdl:part name="parameters" element="v1_0:orderInformation" />
	</wsdl:message>
	<wsdl:message name="orderResult">
		<wsdl:part name="resultCode" element="v1_0:orderConfirmation" />
	</wsdl:message>

	<!-- Port (interface) definitions -->
	<wsdl:portType name="OrderService_v1_0">
		<wsdl:operation name="order">
			<wsdl:input  message="tns:purchaseOrder" />
			<wsdl:output message="tns:orderResult" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="OrderService_v1_1">
		<wsdl:operation name="order">
			<wsdl:input message="tns:purchaseOrder" />
			<wsdl:output message="tns:orderResult" />
		</wsdl:operation>
		<wsdl:operation name="getOrderStatus">
			<wsdl:input message="tns:purchaseOrder" />
			<wsdl:output message="tns:orderResult" />
		</wsdl:operation>

	</wsdl:portType>


	<!-- Port bindings to transports and encoding - HTTP, document literal encoding 
		is used -->
	<wsdl:binding name="OrderBinding_v1_0" type="tns:OrderService_v1_0">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="order">
			<soap:operation soapAction="http://bpel.innoq.com/Order"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="OrderBinding_v1_1" type="tns:OrderService_v1_1">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="order">
			<soap:operation soapAction="http://bpel.innoq.com/Order"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="OrderService_v1_0">
		<wsdl:port name="OrderService" binding="tns:OrderBinding_v1_0">
			<soap:address location="http://localhost:9000/order" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="OrderService_v1_1">
		<wsdl:port name="OrderService" binding="tns:OrderBinding_v1_1">
			<soap:address location="http://localhost:9000/order" />
		</wsdl:port>
	</wsdl:service>


</wsdl:definitions>
